@model MVCWithBlazor.Models.DailyViewModel
@using MVCWithBlazor.Components
@{
    ViewData["Title"] = "Home Page";
}

<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-md-10">
                    <input id="startDate" name="startDate" type="date" class="form-control" value="@ViewBag.start" />
                    <input name="submitBtn" type="submit" value="Previous" />
                    <input name="submitBtn" type="submit" value="Next" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input name="submitBtn" type="submit" value="Show data" />
                </div>
            </div>
        </div>
        @*  </form>*@
        <span class="validation-summary-errors">@ViewBag.Mesaj</span>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Ora</th>
                @for (int i = 0; i < 24; i++)
                {
                    <th class="text-black-100">
                        @(i + 1)
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-black-100">Prognoza energie [MWh]</td>
                @for (int i = 0; i < Model.ListaPrognozaPerZi.Count; i++)
                {
                    <td>
                        <input class="d-none" name="id@(i+1)" value="@Model.ListaPrognozaPerZi[i].PrognozaEnergieModelID" />
                        <input name="val@(i+1)" style="width: 50px" type="number" step="0.1" value="@Model.ListaPrognozaPerZi[i].Valoare" />
                    </td>
                }
                <td><input name="submitBtn" type="submit" value="Save data" /></td>
            </tr>
            <tr>
                <td class="text-black-100">Consum Realizat [MWh]</td>
                @for (int i = 0; i < Model.ListaConsumPerZi.Count; i++)
                {
                    <td>@(Model.ListaConsumPerZi[i].ValueEnergyPlusA / 1000)</td>
                }
            </tr>
            <tr>
                <td>
                    <input name="submitBtn" type="submit" value="Get File" />
                </td>
                <td>
                    <input name="submitBtn" type="submit" value="Send Mail" />
                </td>
            </tr>
        </tbody>
    </table>
</form>
<ejs-chart id="container" load="window.onChartLoad" title="Grafic - Prognoza / Consum">
    <e-chart-tooltipsettings enable="true">
    </e-chart-tooltipsettings>
    <e-chart-primaryxaxis valueType="Category"
                          labelFormat="x"
                          intervalType="Hours"
                          edgeLabelPlacement="Shift">
        <e-majorgridlines width="0"></e-majorgridlines>
    </e-chart-primaryxaxis>
    <e-chart-primaryyaxis labelFormat="{value}"
                          rangePadding="None"
                          minimum=0
                          maximum=6
                          interval=0.5>
        <e-linestyle width="0"></e-linestyle>
        <e-majorticklines width="0"></e-majorticklines>
    </e-chart-primaryyaxis>
    <e-chart-chartarea>
        <e-chartarea-border width="0"></e-chartarea-border>
    </e-chart-chartarea>
    <e-series-collection>
        <e-series dataSource="ViewBag.dataSource" name="Prognoza" xName="x" width="2" opacity="1" yName="y" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Line">
            <e-series-marker visible="true" height="10" width="10"></e-series-marker>
        </e-series>
        <e-series dataSource="ViewBag.dataSource" name="Consum" xName="x" width="2" opacity="1" yName="y1" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Line">
            <e-series-marker visible="true" height="10" width="10"></e-series-marker>
        </e-series>
    </e-series-collection>
</ejs-chart>
